body{
    margin: 0;
    padding: 0;

}
h1{
    margin: 50px;
    color: aliceblue;
    align-items: center;
    font-size: 36px;
    background-color: rgb(47, 112, 185);
    width: fit-content;
    border: 1px solid rgb(47, 112, 185) ;
    border-radius: 20px;
}

h2{
    margin: 50px;
    color: aliceblue;
    align-items: center;
    font-size: 36px;
    background-color: rgb(47, 112, 185);
    width: fit-content;
    border: 1px solid rgb(47, 112, 185) ;
    border-radius: 20px;
}